**EXPERIMENT : NAIVE BAYES**

In [ ]:
# Import required libraries
import pandas as pd

In [2]:
## Importing the dataset

df = pd.read_csv('golf_df.csv')

In [3]:
## Understanding the dataset

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Outlook      14 non-null     object
 1   Temperature  14 non-null     object
 2   Humidity     14 non-null     object
 3   Windy        14 non-null     bool
 4   Play         14 non-null     object
dtypes: bool(1), object(4)
memory usage: 594.0+ bytes

In [8]:
## Display first 5 rows of data set
df.head()

    Outlook Temperature Humidity  Windy Play
0     sunny         hot     high  False   no
1     sunny         hot     high   True   no
2  overcast         hot     high  False  yes
3     rainy        mild     high  False  yes
4     rainy        cool   normal  False  yes

In [9]:
## Summary
df.describe()

       Outlook Temperature Humidity  Windy Play
count       14          14       14     14   14
unique       3           3        2      2    2
top      sunny        mild     high  False  yes
freq         5           6        7      8    9

In [16]:
## Displaying the labels for each feature
for column in df.select_dtypes(include='object').columns:
  print(f"{column}: {df[column].unique()}")

Outlook: ['sunny' 'overcast' 'rainy']
Temperature: ['hot' 'mild' 'cool']
Humidity: ['high' 'normal']
Play: ['no' 'yes']

In [18]:
## Encoding the labels of feature
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
for col in df.columns:
  df[col] = le.fit_transform(df[col])

print(df.head(10))

   Outlook  Temperature  Humidity  Windy  Play
0        2            1         0      0     0
1        2            1         0      1     0
2        0            1         0      0     1
3        1            2         0      0     1
4        1            0         1      0     1
5        1            0         1      1     0
6        0            0         1      1     1
7        2            2         0      0     0
8        2            0         1      0     1
9        1            2         1      0     1

In [22]:
## Splitting the dataset into features and dataset

X = df.drop('Play', axis=1)
y = df['Play']

print(X)
print(y)

    Outlook  Temperature  Humidity  Windy
0         2            1         0      0
1         2            1         0      1
2         0            1         0      0
3         1            2         0      0
4         1            0         1      0
5         1            0         1      1
6         0            0         1      1
7         2            2         0      0
8         2            0         1      0
9         1            2         1      0
10        2            2         1      1
11        0            2         0      1
12        0            1         1      0
13        1            2         0      1
0     0
1     0
2     1
3     1
4     1
5     0
6     1
7     0
8     1
9     1
10    1
11    1
12    1
13    0
Name: Play, dtype: int64

In [43]:
## Splitting the dataset into testing and training
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.3, random_state=30)
print(X_train.shape,X_test.shape,y_train.shape,y_test.shape)

print(y_test)

(9, 4) (5, 4) (9,) (5,)
0     0
9     1
11    1
8     1
6     1
Name: Play, dtype: int64

In [42]:
## Training the Model

from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_train, y_train)

## Prediction of the Model
y_pred = model.predict(X_test)
print(y_pred)

[0 1 1 1 1]

In [40]:
## Evaluation of the Model
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")
print(f"Confusion Matrix : ", confusion_matrix(y_test, y_pred))

Accuracy: 0.6
Confusion Matrix :  [[0 2]
 [0 3]]